header {
    margin: $container-vertical $container-horizontal;

    .nav-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .nav-container-logo {


            a {
                display: flex;
                flex-direction: column;
                text-decoration: none;
                margin: 10px 0;
                color: $accent;
                size: 15px;

                .logo-subtext {
                    padding: 10px 0;
                }
            }


        }
    }


}