nav {
  ul {
    align-self: center;
    padding: 0;
    display: flex;
    flex-direction: row;

    li {
      font-size: 16px;
      align-self: center;
      list-style: none;

      &:not(:last-child) {
        padding: 0 50px 0 0;
      }


      a {
        color: $white;
        text-decoration: none;

        &:hover,
        &:focus {
          color: $accent;
          border-bottom: 1px solid $accent;
          padding-bottom: 5px;
        }
      }

      &.submenu {
        &::after {
          content: ' + ';
        }
      }

    }
  }
}