.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    -webkit-animation: App-logo-spin infinite 20s linear;
            animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

h1,
h2,
h3 {
  text-transform: uppercase;
  font-weight: bold;
}

p {
  line-height: 27px;
}

.accent {
  font-weight: bold;
  color: #FFA300;
}

.grey-accent {
  color: #555555;
}

header .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px 275px;
}

header .nav-container .nav-container-logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  margin: 10px 0;
  color: #FFA300;
  size: 15px;
}

header .nav-container .nav-container-logo a .logo-subtext {
  padding: 10px 0;
}

main {
  margin: 50px 275px;
  text-align: left;
}

main div.main--text-model {
  margin: 0 0 100px 0;
}

div.hero {
  width: 100%;
  height: 400px;
  background: url("../../images/Miami-Street-view.crop_.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

div.hero .hero--inner {
  margin: 0 275px;
  background-color: #FFA300;
  width: 50%;
  text-align: left;
  padding: 10px 25px;
}

div.hero .hero--inner h2 {
  margin: 0;
  color: white;
}

div.hero .hero--inner p {
  padding: 0;
  margin: 10px 0;
}

nav ul {
  -ms-flex-item-align: center;
      align-self: center;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav ul li {
  font-size: 16px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  list-style: none;
}

nav ul li:not(:last-child) {
  padding: 0 50px 0 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover, nav ul li a:focus {
  color: #FFA300;
  border-bottom: 1px solid #FFA300;
  padding-bottom: 5px;
}

nav ul li.submenu::after {
  content: ' + ';
}

footer {
  margin: 25px 275px;
  border-top: 1px solid #555555;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer ul {
  margin: 0;
  padding: 25px 0 0 0;
}

footer ul li {
  padding-bottom: 25px;
  list-style: none;
}

footer .footer--right {
  text-align: right;
}

footer .footer--right ul li {
  text-align: right;
}

footer .footer--right ul li span {
  text-align: right;
}

footer .footer--left {
  text-align: left;
}

footer .footer--left ul {
  margin: 0;
  padding: 25px 0 0 0;
}

footer .footer--left ul li {
  padding-bottom: 25px;
  list-style: none;
}
/*# sourceMappingURL=style.css.map */